{% extends 'layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="container mt-3 mb-3">
  <h1>{{ title }}</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <a href="{{ url_for('formulaone.new_formulaone') }}" class="btn btn-outline-secondary">
        <i class="bi bi-file-earmark-plus"></i>
        New Driver
      </a>
    </div>
    <div class="col-md-6"></div>
  </div>

  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th>#</th>
        <th>Driver Name</th>
        <th>Created At</th>
      </tr>
    </thead>

    <tbody>
      {% for driver in formulaones.items %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ driver.name }}</td>
        <td>{{ driver.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination -->
  <nav class="mt-3">
    <ul class="pagination">

      {% if formulaones.has_prev %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('formulaone.index', page=formulaones.prev_num) }}">
          Previous
        </a>
      </li>
      {% endif %}

      {% for page_num in formulaones.iter_pages() %}
        {% if page_num %}
          {% if page_num == formulaones.page %}
          <li class="page-item active">
            <a class="page-link">{{ page_num }}</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('formulaone.index', page=page_num) }}">
              {{ page_num }}
            </a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if formulaones.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('formulaone.index', page=formulaones.next_num) }}">
          Next
        </a>
      </li>
      {% endif %}

    </ul>
  </nav>

</div>

{% endblock %}